@import "../../../assets/_variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: rgba(255, 242, 225, 0.5);

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 100px;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    .close {
      display: none;
    }

    .link {
      font-size: 1rem;
      color: $black;
      margin: 0 30px;
      transition-duration: 300ms;

      &:hover {
        color: $orange;
      }
    }
  }

  .btn {
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 20px;
    font-weight: 500;
    margin-left: 30px;
    font-size: 1rem;
    cursor: pointer;
  }

  .login {
    background: white;
  }

  .sign-up {
    color: white;
    background: $orange;
  }

  .burger {
    width: 25px;
    height: 25px;
    display: none;
    transition-duration: 300ms;

    &:hover {
      color: $orange;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    .actions {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #fff2e1;

      .navigation {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px;
        padding: 40px;

        .close {
          position: absolute;
          top: 40px;
          right: 40px;
          z-index: 15;
          color: $black;
          display: block;
          transition-duration: 300ms;

          &:hover {
            color: $orange;
          }
        }

        .link {
          margin: 10px 0;
        }
      }

      .auth {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;

        button {
          margin: 10px 20px;
        }
      }
    }

    .burger {
      display: block;
    }
  }

  .opened {
    animation-name: opening;
    animation-duration: 400ms;
  }

  .closed {
    transform: translateX(-100%);
    animation-name: closing;
    animation-duration: 400ms;
  }
}

@keyframes opening {
  from {
    transform: translateX(-100%);
  }
  99% {
    transform: translateX(-1%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes closing {
  from {
    transform: translateX(0%);
  }
  99% {
    transform: translateX(-99%);
  }
  to {
    transform: translateX(-100%);
  }
}
