@import "../../../assets/variables";

.bgitem {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 4000px;
    height: 4000px;
    background: #fff2e1;
    border-radius: 50%;
  }
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  &-row {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    color: $darkBlue;
    width: 50%;

    .title {
      span {
        color: $orange;
      }
    }

    .text {
      color: #464646;
      font-size: 1rem;
      font-family: $secondaryFont;
      margin: 30px 0;
    }
  }

  &-image {
    position: relative;
    width: 50%;
    bottom: -70px;
  }

  &-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    button {
      min-width: 140px;
      height: 50px;
      border-radius: 30px;
      border: 0;
      background: $orange;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      margin: 0 30px 20px 0;
      cursor: pointer;
      transition-duration: 300ms;

      &:hover {
        box-shadow: 0px 2px 5px $black;
      }
    }

    .icon {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: white;
      color: $cyan;
      margin: 0 30px 20px 0;
      transition-duration: 300ms;

      &:hover {
        box-shadow: 0px 2px 5px $black;
      }
    }

    span {
      font-size: 1rem;
      color: #252641;
      margin: 0 30px 20px 0;
    }
  }
}

@media (max-width: 1000px) {
  .home {
    &-row {
      margin-top: 100px;
      flex-direction: column;
    }
  }
}

@media (max-width: 400px) {
  .home {
    &-image {
      width: 100%;
    }
    h1 {
      font-size: 1.8rem;
    }
  }
}
