@import "../../App.scss";
@import "../../../assets/variables";

.testimonial {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
  }

  img {
    width: calc(50% - 50px);
    margin-left: 50px;
    z-index: 8;

    @media (max-width: 1000px) {
      width: 50%;
      margin: 0;
    }

    @media (max-width: 500px) {
      width: 100%;
      margin: 0;
    }
  }

  .box {
    width: 50%;
    border-top: 1px solid $black;
    position: relative;

    @media (max-width: 1000px) {
      width: 100%;
    }

    .label {
      position: relative;
      top: -10px;
      font-size: 0.7rem;
      width: calc(100% - 40px);
      padding-left: 20px;
      margin-left: 40px;
      background: #fff;
    }

    h2 {
      color: $darkBlue;
      margin-bottom: 30px;
    }

    p {
      font-size: 1rem;
      color: $grey;
      margin-bottom: 30px;
    }

    button {
      width: 40px;
      min-width: 40px;
      height: 40px;
      background: #00000000;
      color: #00000000;
      border: 1px solid $orange;
      border-radius: 30px;
      position: relative;
      cursor: pointer;
      margin-bottom: 30px;
      transition-duration: 300ms;
      text-indent: -1000px;
      transition-duration: 300ms;

      &:hover {
        box-shadow: 0 0 5px $orange;
      }

      &:hover {
        width: 250px;
        padding-right: 50px;
        text-indent: 1px;
        color: $orange;
      }

      div {
        position: absolute;
        top: -1px;
        right: -1px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $orange;
        color: $orange;
        border-radius: 30px;
      }
    }
  }
}
