@import "../../App.scss";
@import "../../../assets/variables";

.testimonial {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
  }

  .carousel {
    height: 450px;
    width: 350px;
    min-width: 350px;
    min-height: 450px;
    position: relative;
    margin-left: 50px;
    z-index: 8;

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 1.5rem;
      padding: 5px 10px;
      border-radius: 50%;
      background: white;
      box-shadow: 0 0 5px $grey;
      margin-top: -40px;
    }

    .slide {
      position: relative;
      display: flex;
      justify-content: center;
      img {
        width: 85%;
        height: 85%;
        border-radius: 20px;
      }
      .box {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 9;
        width: 290px;
        background: white;
        height: 200px;
        border: 0;
        box-shadow: 0 0 5px $grey;
        border-radius: 10px;
        border-left: 10px solid #f67766;
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: space-between;

        .text {
          color: $grey;
          padding-left: 20px;
          font-size: 0.7rem;
          border-left: 1px solid $grey;
        }

        .row {
          display: flex;
          font-size: 1rem;
          color: $grey;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          .rate {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .stars {
              color: $orange;
            }

            .people {
              font-size: 0.6rem;
            }
          }
        }
      }
    }

    @media (max-width: 1000px) {
      width: 50%;
      margin: 0;
    }

    @media (max-width: 500px) {
      width: 100%;
      margin: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .box {
    width: 50%;
    border-top: 1px solid $black;
    position: relative;

    @media (max-width: 1000px) {
      width: 100%;
    }

    .label {
      position: relative;
      top: -10px;
      font-size: 0.7rem;
      width: calc(100% - 40px);
      padding-left: 20px;
      margin-left: 40px;
      background: #fff;
    }

    h2 {
      color: $darkBlue;
      margin-bottom: 30px;
    }

    p {
      font-size: 1rem;
      color: $grey;
      margin-bottom: 30px;
    }

    button {
      width: 40px;
      min-width: 40px;
      height: 40px;
      background: #00000000;
      color: #00000000;
      border: 1px solid $orange;
      border-radius: 30px;
      position: relative;
      cursor: pointer;
      margin-bottom: 30px;
      transition-duration: 300ms;
      text-indent: -1000px;
      transition-duration: 300ms;

      &:hover {
        box-shadow: 0 0 5px $orange;
      }

      &:hover {
        width: 250px;
        padding-right: 50px;
        text-indent: 1px;
        color: $orange;
      }

      div {
        position: absolute;
        top: -1px;
        right: -1px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $orange;
        color: $orange;
        border-radius: 30px;
      }
    }
  }
}
