@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:ital,wght@0,400;0,700;1,500;1,600&display=swap");

// Font family
$mainFont: "Poppins", sans-serif;
$secondaryFont: "Nunito Sans", sans-serif;

// Font weight

// Colors
$darkBlue: #2f327d;
$orange: #f48c06;
$cyan: #65daff;
$grey: #696984;
$lighGrey: #b2b3cf;
$black: #252641;
