@import "./assets/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 22px;
  font-family: $mainFont;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
